.photo-grid {
    margin: 0;
    padding: 0 3rem;
    display: grid;
    max-width: 92.5%;
    max-height: 27.625rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}