.buy-link {
    margin: 0;
    max-width: max-content;
    padding: 0.8125rem 1.25rem;
    background-color: #0278FE;
    border-radius: 4px;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    z-index: 9;
    transition: background-color 0.3s linear;
}

.buy-link:hover {
    background-color: #0063D2;
}
