.places {
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2.25rem;
}

/*1280px*/
@media screen and (min-width: 66rem) {
    .places {
        row-gap: 4rem;
        align-items: center;
    }
}