.places {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
}

@media screen and (max-width: 48rem) {
    .places {
        row-gap: 2.7rem;
    }    
}