.intro__quote-author {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    text-align: right;
    color: #FFF;
    position: relative;
    bottom: 1.5rem;
    left: 73%;
}

@media screen and (max-width: 20rem) {
    .intro__quote-author {
        bottom: 0.125rem;
        left: 6.125rem;
    }    
}