.place__description-container {
    margin: 0;
    padding: 1.5rem 1rem 0.5rem;
}

/*768px*/
@media screen and (min-width: 43rem) {
    .place__description-container {
        padding: 0;
        max-width: 48.88889%;
    }  
}

/*1280px*/
@media screen and (min-width: 66rem) {
    .place__description-container {
        max-width: 100%;
        grid-area: description;
    }  
}