.gallery__item {
    margin: 0;
    max-width: 17.75rem;
}

/*768px*/
@media screen and (max-width: 56.5rem) {
    .gallery__item {
        max-width: 22rem;
    }    
}

/*320px*/
@media screen and (max-width: 27rem) {
    .gallery__item {
        max-width: 18rem;
    }    
}