.place__main-text {
    margin: 0;
    padding-bottom: 1.25rem;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.63;
    color: #FFF;
}

.place__main-text:last-child {
    padding-bottom: 0;
}

/*1280px*/
@media screen and (min-width: 66rem) {
    .place__main-text {
        font-size: 18px;
    }
}