.lead__title {
    margin: 0;
    max-width: 62%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width: 48rem) {
    .lead__title {
        max-width: 93.75%;
    }    
}