.lead__title {
    margin: 0;
    max-width: 62%;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFF;
}

/*768px*/
@media screen and (max-width: 50rem) {
    .lead__title {
        max-width: 93.75%;
    }    
}

/*320px*/
@media screen and (min-width: 17rem) and (max-width: 34rem) {
    .lead__title {
        max-width: 90%;
        font-size: 40px;
        line-height: 1.1;
    }
    
}