.quote__author {
    margin: 0;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.42;
    text-align: right;
    color: #FFF;
    position: relative;
    bottom: 1.5rem;
    left: 73%;
}

/*1100px*/
@media screen and (max-width: 69rem) {
    .quote__author {
        bottom: 0.4rem;
        left: 69%;
    }    
}

/*600px*/
@media screen and (max-width: 37.5rem) {
    .quote__author {
        left: 63%;
    }
}

/*433px*/
@media screen and (max-width: 37.5rem) {
    .quote__author {
        left: 45%;
    }
}

/*320px*/
@media screen and (max-width: 22.38rem) {
    .quote__author {
        bottom: 0.125rem;
        left: 6.125rem;
    }    
}