.lead__subtitle {
    margin: 0;
    padding: 2rem 0 4rem;
    max-width: 56.25%;
    font-family: 'Inter', "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

/*768px*/
@media screen and (max-width: 50rem) {
    .lead__subtitle {
        max-width: 93.75%;
        padding: 6.2rem 0 4.32rem;
    }    
}

/*320px*/
@media screen and (min-width: 17rem) and (max-width: 34rem) {
    .lead__subtitle {
        max-width: 90%;
        padding: 3.75rem 0 2.5rem;
        font-size: 16px;
        line-height: 1.25;
    }    
}