.lead__subtitle {
    margin: 0;
    padding: 2rem 0 4rem;
    max-width: 56.25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}

@media screen and (max-width: 48rem) {
    .lead__subtitle {
        max-width: 93.75%;
        padding: 6.2rem 0 4.32rem;
    }    
}