.lead__subtitle {
    margin: 2rem 0 4rem;
    max-width: 56.25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFF;
}
