.cover {
    margin: 0;
    padding: 5.75rem 3rem;
    position: relative;
}

@media screen and (max-width: 48rem) {
    .cover {
        max-width: 100%;
        padding: 5.75rem 0 5.5rem;
    }    
}