.cover {
    margin: 0;
    padding: 5.75rem 3rem;
    position: relative;
}

/*768px*/
@media screen and (max-width: 68rem) {
    .cover {
        max-width: 100%;
        padding: 5.75rem 0 5.5rem;
    }    
}

/*320px*/
@media screen and (max-width: 32.5rem) {
    .cover {
        max-width: 100%;
        padding: 4rem 0;
    }    
}