.cover__background {
    margin: 0;
    opacity: 0.7;
    max-width: 100%;
    min-height: 45rem;
}

@media screen and (max-width: 48rem) {
    .cover__background {
        min-height: 46.625rem;
    }    
}

@media screen and (max-width: 20rem) {
    .cover__background {
        min-height: 15.875rem;
    }    
}