.place {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

/*768px*/
@media screen and (min-width: 43rem) {
    .place {
        padding: 0 1.5rem;
        justify-content: space-between;
    }
}

/*1280px*/
@media screen and (min-width: 66rem) {
    .place {
        padding: 0;
        max-width: 76.875%;
        display: grid;
        grid-template-columns: 46.75% 49.187%;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "title subtitle"
            "image description"
            "button description";
        grid-gap: 48px 40px;
    }
}