.place {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

/*768px*/
@media screen and (min-width: 43rem) {
    .place {
        padding: 0;
        max-width: 93.75%;
        display: grid;
        grid-template-columns: 47.222% 48.888%;
        grid-template-areas: 
            "title subtitle"
            "image description"
            "button description"
            ". description";
        grid-gap: 3rem 1.75rem;
    }
}

/*1280px*/
@media screen and (min-width: 66rem) {
    .place {
        padding: 0;
        max-width: 76.875%;
        display: grid;
        grid-template-columns: 46.75% 49.187%;
        grid-gap: 3rem 2.5rem;
    }
}