.intro__title {
    margin: 0;
    max-width: 80%;
    padding-left: 11.6%;
    font-family: "Inter";   
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFF;
}

/*768px*/
@media screen and (max-width: 56.5rem) {
    .intro__title {
        max-width: 93.75%;
        padding-left: 0;
    }    
}

/*320px*/
@media screen and (max-width: 32.5rem) {
    .intro__title {
        max-width: 90%;
        font-size: 32px;
        line-height: 1.09;
    }    
}